<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAU Fashion Online Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/black_logo.png') }}" alt="Black Logo" class="logo">
        <h1>Hello, {{ username }}! Welcome to TAU Fashion Online Store!</h1>
        <form action="{{ url_for('admin_auth_handler') }}">
            <input type="hidden" name="username" value="{{ username }}">
            <button type="submit" class="admin-btn">Admin Page</button>
        </form>
    </header>

    <!-- Display the success message if it exists -->
    {% if success_message %}
        <div class="success-message">
            <p>{{ success_message }}</p>
        </div>
    {% endif %}

    <!-- Display the error message if it exists -->
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
    {% endif %}

    <div class="container mt-5">
        <h1>Available Products In The Store</h1>
        <div class="table-container">
            <!-- Display table with the dataframe -->
            <form action="{{ url_for('order_summary') }}" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Sex</th>
                            <th>Price</th>
                            <th>Inventory</th>
                            <th>Your Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table %}
                            <tr>
                                <!-- Make the "Id" clickable to redirect to the path -->
                                <td><a href="{{ row['Path'] }}">{{ row['Id'] }}</a></td>
                                <td>{{ row['Name'] }}</td>
                                <td>{{ row['Sex'] }}</td>
                                <td>{{ row['Price'] }}</td>
                                <td>{{ row['Inventory'] }}</td>
                                <!-- Editable "Your Order" field -->
                                <td>
                                    <input type="number" name="product_{{ row['Id'] }}" value="{{ row['Your Order'] }}" min="0" max="{{ row['Inventory'] }}" step="1">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Updated Button Wrapper -->
                <div class="checkout-btn-container">
                    <button type="submit" class="checkout-btn">Go To Checkout</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
