<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Summary - TAU Fashion Online Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order_summary.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/black_logo.png') }}" alt="Black Logo" class="logo">
        <h1>Hello, {{ username }}! Here is Your Order Summary</h1>
        <form action="{{ url_for('admin_auth_handler') }}">
            <input type="hidden" name="username" value="{{ username }}">
            <button type="submit" class="admin-btn">Admin Page</button>
        </form>
    </header>

    <!-- Display the error message if it exists -->
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
    {% endif %}

    <div class="container mt-5">
        <h1>Your Order Summary</h1>
        <div class="table-container">
            <!-- Display table with the order summary -->
            <form action="{{ url_for('order_summary') }}" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Sex</th>
                            <th>Price</th>
                            <th>Total Amount</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table %}
                            <tr>
                                <td>{{ row['Id'] }}</td>
                                <td>{{ row['Name'] }}</td>
                                <td>{{ row['Sex'] }}</td>
                                <td>{{ row['Price'] }}</td>
                                <td>{{ row['Total Amount'] }}</td>
                                <td>{{ row['Total Price'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Checkout Button -->
                <div class="checkout-btn-container">
                    <label for="modal-toggle" class="checkout-btn">Checkout</label>
                </div>
            </form>
        </div>
    </div>

    <!-- Hidden checkbox that controls the modal visibility -->
    <input type="checkbox" id="modal-toggle">

    <!-- Modal -->
    <div class="modal">
        <div class="modal-content">
            <h2>Are You Sure?</h2>
            <label class="cancel-btn" for="modal-toggle">Cancel</label>
            <label class="process-btn" for="modal-toggle">Process</label>
        </div>
    </div>

</body>
</html>
